/*Handles Background Imange*/
body{
  background-image: url("../public/images/backgroundimage.jpg");
}

/*First Box*/
.artist_listened {
    font-family: cursive, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 200px;
    height: 300px;
    font-size: 18px;
    margin: 40px auto 0;
    text-align: center; 
}

/*Second Box*/
.songs {
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    width: 400px; 
    height: 250px;
    color: palevioletred;
    font-size: 15px;
    font-family: cursive, 'Times New Roman', Times, serif;
    margin: auto;
}

/*Song names*/
#top_songs{
    text-align: center;
}

/*List Items*/
li {
    margin: 10px 0;
  }

/*Pink Text*/
h2, p{
    color: palevioletred;
}

/*Handles Images*/
img{
    text-align: center; 
    width: 100px;
    height: 120px;
}

/* The Buttons Are Hearts*/
.btnsPrev,
.btnsNext {
    border: none;
}

/*Heart Buttons Using Clip Path*/
.btnsPrev::before {
  content: '';
  position: absolute;
  width: 24px; 
	height: 24px; 
	background: white;
	clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
	transform: scale(2);
  left: 200px;
  top: calc(50% - 60px); /* Raise the shape up by 2 points */

}

.btnsNext::before {
  content: '';
  position: absolute;
  width: 24px; 
	height: 24px; 
	background: white;
	clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
	transform: scale(2);
  right: 200px;
  top: calc(50% - 60px); /* Raise the shape up by 2 points */
}

/*Miscallaneous*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }